version: "3.9"

services:
  backend:
    build: .
    command: uvicorn backend.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    working_dir: /app
    volumes:
      - .:/app

  frontend:
    build: .
    command: streamlit run supervisor_ui/app.py --server.port=8501 --server.address=0.0.0.0
    ports:
      - "8501:8501"
    working_dir: /app
    volumes:
      - .:/app
    depends_on:
      - backend
